/* Reset CSS (DO NOT DELETE) */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

/* Write your code below */
.header{
  background-color: #26d0c9;
  color: #fff;
  height: 90px;
}

.header-logo{
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.header-list{
  float: left;
}

.header-list li{
  float: left;
  padding: 33px 20px;
}

.main{
  padding: 100px 80px;
}

.container h1{
  font-size: 140px;
}

.container span{
  color: red;
}

.container h2{
  font-size: 60px;
}

.content{
  height: 500px;
  margin-top: 100px;
}

.section-title{
  font-size: 28px;
  border-bottom: 2px solid #dee7ec;
  padding-bottom: 15px;
  margin-bottom: 50px;
}

.content-item{
  float: left;
  margin-right: 40px;
}

.content-item p{
  font-size: 24px;
  margin-top: 30px;
}

.contact-form{
  padding-top: 100px;
}

.section-title{
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 15px;
  margin-bottom: 50px;
}

.contact-form input,textarea{
  width: 400px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #dee7ec;
}

.contact-submit{
  background-color: #dee7ec;
  color: #889eab;
}

.footer{
  background-color: #2f5167;
  color: #fff;
  height: 120px;
  padding: 40px;
}

.footer-logo{
  float: left;
  font-size: 32px;
}

.footer-list{
  float: right;
}

.footer-list li{
  padding-bottom: 20px;
}

