/* Reset CSS (DO NOT DELETE) */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Grande";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Write your code below */
header{
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-left{
  float: left;
}

.logo{
  width: 124px;
  margin-top: 20px;
}

.header-right{
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
}

.header-right a{
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
}

.top-wrapper{
  padding: 180px 0 100px 0;
  background-image: url(https://prog-8.com/images/html/advanced/top_en.png);
  background-size: cover;
  color: white;
  text-align: center;
}

.container{
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper h1{
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p{
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn-wrapper{
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.btn{
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.signup{
  background-color: #239b76;
}

.fb{
  background-color: #3b5998;
    margin-right: 10px;
}

.twit{
  background-color: #55acee;
}

.lesson-wrapper{
  height: 500px;
  padding-bottom: 80px;
  background-color: #f7f7f7;
  text-align: center;
}

.heading{
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
}

.heading h2{
  font-weight: normal;
}

.lesson{
  float: left;
  width: 25%;
}

.lesson-icon{
    position: relative;
}

.lesson-icon p{
    position: absolute;
    top: 90px;
    width: 100%;
    color: white;
}

.txt-contents{
  width: 80%;
  display: inline-block;
  margin-top: 20px;
  font-size: 15px;
  color: #b3aeb5;
}

.message-wrapper{
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message{
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

footer{
  padding-top: 30px;
}

footer img{
  width: 125px;
}

footer p{
  color: #b3aeb5;
  font-size: 12px;
}




















